<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<select id="totalRow" resultType="int">
		SELECT count(*)
		FROM board
		WHERE title like '%'||#{searchTxt}||'%'<if test="!category.equals('선택')"> and category = #{category}</if>
	</select>

	<select id="defaultList" resultType="com.toy.dto.BoardDTO">
		SELECT *
		FROM (SELECT
		board.*, ROW_NUMBER() over(order by seq desc)AS rn from
		board)
		WHERE rn
		between ${start} and ${end}
	</select>

	<select id="searchList" resultType="com.toy.dto.BoardDTO">
		SELECT *
		FROM (SELECT board.*, ROW_NUMBER() over(order by seq desc)AS rn from board
		WHERE category = #{category} and title like '%'||#{searchTxt}||'%')
		WHERE rn between ${start} and ${end}
	</select>
	
	<select id="searchListNoCategory" resultType="com.toy.dto.BoardDTO">
		SELECT *
		FROM (SELECT board.*, ROW_NUMBER() over(order by seq desc)AS rn FROM board WHERE title like '%'||#{searchTxt}||'%')
		WHERE rn between ${start} and ${end}
	</select>
	
	<insert id="write">
		insert into board values(bor_seq.nextval, #{title}, #{contents}, #{writer}, #{category}, default, default)
	</insert>
	
	<select id="detail" resultType="com.toy.dto.BoardDTO">
		select * from board where seq = ${value}
	</select>
	
	<update id="view_countUp">
		update board set view_count = view_count + 1 where seq = ${value}
	</update>
	
	<delete id="delete">
		delete from board where seq = ${value}
	</delete>
</mapper>